<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.BouncyCastle" version="1.9.0" />
  <package id="Q42.HueApi" version="3.23.0" manuallyInstalled="true" />
  <package id="Q42.HueApi.ColorConverters" version="3.23.0" />
  <package id="Q42.HueApi.Entertainment" version="3.23.0" manuallyInstalled="true" />
</packages>